<div class="photo-column">
    <a class="photo-image" href="#/photo/{{id}}"><img class="thumb-image" src="{{media.m}}" /></a>
</div>
<div class="photo-column photo-details">
    <h2 class="photo-title"><a class="title-link" href="#/photo/{{id}}">{{title}}</a></h2>
    <div class="thumb-copy">
        <a class="thumb-author thumb-copy-item" href="https://www.flickr.com/people/{{author_id}}" target="_blank">{{authorName}}</a>

        <span class="thumb-date thumb-copy-item">Published: {{formattedPublished}}</span>
        <a class="thumb-link thumb-copy-item" href="{{link}}" target="_blank">View on Flickr </a>
    </div>
</div>
<div class="g-plusone" data-href="{{link}}">Plusone</div>

