<header class="detail-header">
    <h2  class="photo-title"><a class="title-link" href="{{link}}" target="_blank">{{title}}</a></h2>
    <a class="back-btn" href="/#/">Back</a>
    <p>
        <a class="thumb-author" href="https://www.flickr.com/people/{{author_id}}" target="_blank">{{authorName}}</a>
        <span class="thumb-date">Published: {{formattedPublished}}</span>
    </p>
</header>
<div class="photo-content">
    <div class="photo-column">
        <a class="photo-image" href="{{link}}"><img class="thumb-image" src="{{media.m}}" /></a>
    </div>
    <div class="photo-column photo-details">
        <div class="detail-description">
            {{{description}}}
        </div>
        <p>Tags: {{tags}}</p>
    </div>
</div>
<div class="g-plusone" data-href="{{link}}">Plusone</div>





